<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
  <div class="limiter">
    <div class="container-login100" style="background-image: url(../static/img/bg-01.jpg);">
      <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
        <form id="loginForm" class="login100-form" method="post" action="/login" onsubmit="disableButton()">
          <div>
            <div class="messages"></div>
          </div>
          {% if alert_message %}
          <div style="background-color: #FF5733; border-color: #333333; border-radius: 15px; padding: 15px;"> 
            {{ alert_message }} 
          </div>
          {% else %}
          <span class="login100-form-title p-b-49">
            ¡Hola de nuevo!
          </span>
          {% endif %}
          <div class="wrap-input100 m-b-23 m-t-23">
            <span class="label-input100">Correo</span>
            <input class="input100" type="email" name="email" placeholder="example@domain.com" required>
            <span class="focus-input100"></span>
          </div>
          <div class="wrap-input100">
            <span class="label-input100">Contraseña</span>
            <input class="input100" type="password" name="password" placeholder="Ingrese su contraseña" required>
            <span class="focus-input100"></span>
          </div>
          <div>
            <input type="checkbox" id="togglePasswordCheckbox">
            Mostrar contraseña
          </div>
          <div class="flex-col-c p-t-30 container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button class="login100-form-btn" id="miBoton" name="miBoton" type="submit">ACCEDER</button>
            </div>
          </div>
          <div class="flex-col-c p-t-30">
            <span class="txt1 p-b-10">¿No tienes cuenta?</span>
            <a href="/register" class="txt2">Crear una aquí</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
    function disableButton() {
      document.getElementById("miBoton").disabled = true;
    }
    window.onload = function () {
      var togglePasswordCheckbox = document.getElementById("togglePasswordCheckbox");
      var passwordInput = document.querySelector("input[name='password']");

      togglePasswordCheckbox.addEventListener("change", function () {
        if (this.checked) {
          passwordInput.type = "text";
        } else {
          passwordInput.type = "password";
        }
      });
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>
</html>
